.block {
    background-color: red;
    width: 250px;
    height: 40px;
    border-radius: 10%;
    margin-left:30px;

}

.block1 {
    margin-top: 10px;
    background-color: red;
    width: 200px;
    height: 40px;

}

.block2 {

    margin-top: 10px;
    background-color: red;
    width: 200px;
    height: 40px;

}

.add-user {
    height: 100%;
    width: 100%;
    background-color: aqua;
}
.add-user a{
    text-decoration: none;
    font-size: 20px;
}

* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
   
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  @media (min-width: 1000px) {

    .content-table {
        min-width: 1400px;
      

    }

  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.808);
  }
.button a{
    /* width: 100%; */
    text-decoration: none;
}